body
    font-family: Arial, Helvetica, sans-serif
.content
    width: 80%
    margin: 0 auto
.contents
    margin: 0 auto
    ul  
        li
            display: inline-block
            padding: 5px
            margin: 0
            list-style-type: none
            list-style-image: none
.head
    text-align: center
.main
    line-height: 40px
    width: 70%
    margin: 0 auto
.cat,
.chem,
.mouth,
.tt,
.step,
.exp
    display: none
.pagin
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    .nextpage, .prevpage
        display: none
        width: 50%
        height: 100px
        color: #666
        transition: background-color .2s, color .2s
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
    .nextpage:hover, .prevpage:hover
        color: #FFF
        background-color: #666
.full-length
        width: 100%
