<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/hover.css")
    title Texture and Tasting
body
    .content
        .head
            h1 TEXTURE &amp; TASTING
        .contents
            ul
                li 
                    a(href="part1.html").hvr-underline-from-left Part 1
                li 
                    a(href="part2.html").hvr-underline-from-left Part 2
        .main#foreword
            h2 A foreword from me
            p 
                | The contents of this guide on coffee tasting and palate training wasn't actually written by me. I was browsing on the /r/Coffee subreddit when I came across 
                a(href="https://www.reddit.com/r/Coffee/comments/6jkwri/how_do_i_improve_my_taste_profiling/", target="_blank") this post.
                |  This led me to forum posts 
                a(href="https://forums.egullet.org/topic/41441-taste-texture-part-one/", target="_blank") one
                |  and 
                a(href="https://forums.egullet.org/topic/44502-taste-texture-part-two/", target="_blank") two.
            
            p So me being the bored 20 year old me, I decided to pretty them up a little because I'm looking for things to do.
        .main#display
            h2 Enter the posts
            .parts.part1
                h3.hvr-underline-from-left 
                    a(href="part1.html") View Part 1 here
            .parts.part2
                h3.hvr-underline-from-left
                    a(href="part2.html") View Part 2 here