<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/hover.css")
    title Taste and Texture Part 1
body
    .content
        .head
            h1 TASTE &amp; TEXTURE 
            h2 PART 1: TEXTURE
            p by Janet A Zimmerman
            ul
                li 
                    a(href="part2.html").hvr-underline-from-left Part 2
                li  
                    a(href="index.html").hvr-underline-from-left Back Home
        .contents
            ul
                li 
                    a(href="#terms").hvr-underline-from-left Terms and Definitions
                li 
                    a(href="#big-four").hvr-underline-from-left The Big Four (or five?)
                li 
                    a(href="#four-tastes").hvr-underline-from-left Four Tastes in Combination
                li 
                    a(href="#other-flavs").hvr-underline-from-left Other Flavor Categories
                li 
                    a(href="#flav-beyond").hvr-underline-from-left Flavor &amp; Beyond
                li 
                    a(href="#experiments").hvr-underline-from-left Experiments
                
        .main#terms
            include extracts/part1/terms/01terms.pug
            include extracts/part1/terms/02tsf.pug
            include extracts/part1/terms/03olf.pug
            include extracts/part1/terms/04natart.pug
            include extracts/part1/terms/05thresh.pug
            include extracts/part1/terms/06tasters.pug
            .pagin
                .nextpage.full-length
                    .next next
                    .title The Big Four (Or Five?)
        .main#big-four
            h2 The Big Four (or is it five?)
            include extracts/part1/big-four/01sweet.pug
            include extracts/part1/big-four/02salty.pug
            include extracts/part1/big-four/03sour.pug
            include extracts/part1/big-four/04bitter.pug
            include extracts/part1/big-four/05umami.pug
            .pagin
                .prevpage
                    .next back
                    .title Terms and Definitions
                .nextpage
                    .next next
                    .title The Four Tastes in Combination
        .main#four-tastes
            h2 The four Tastes in Combination
            p For the most part, the basic tastes don't occur in foods solo. We've seen that our sense of taste reacts best to changes in stimuli, so perhaps it's no surprise that we like foods that excite more than one type of taste reaction. Because sweetness, salt, acid and bitterness are the foundation of our entire experience of flavor, the balance among the basic tastes can make or break a dish, even if we don't consciously realize it. Experiencing and studying the ways these tastes combine and balance each other, then, is one of most basic and crucial steps in analyzing dishes and learning to cook.
            .sub.sweet-sour
                h3 Sweet and Sour
                p Lemonade, sweet and sour pork, the perfectly ripe orange: all of these share, to varying degrees, a balance of sweetness and acidity. Probably the first example of the sweet and sour combination that most of us taste and enjoy is the flavor of fresh fruit. We often talk as if ripe peaches, strawberries and pears are sweet, period, but actually their sweetness is balanced with a slightly tart element. Oranges and tangerines might display their acid more obviously, but virtually all ripe fruit has a sour edge that holds that sweetness in check.
                p It's a two-way street with sweet and sour ingredients. On the one hand, sweetness is full and round, but by itself, it can be cloying and overwhelming. Sour ingredients by themselves are sharp and "cutting." Add a bit of something sour to your sweet base, and you get the best of both worlds -- round, full flavor with a sharp edge that cuts through the cloying sweetness. Add more acid so that sour is your primary taste, and you still have the softening effect of the sweet ingredient to hold the tang in check. It's a match made in heaven.
            .sub.bittersweet
                h3 Bittersweet
                p No, wait, the match made in heaven is the bittersweet one. Sweetness does have an affinity for both the sour and the bitter; it's a toss-up which is the more sublime combination.
                p We've seen that purely bitter foods are rarely eaten alone; most often the bitter is balanced by sweetness. Bitter aperitifs all contain a hefty dose of sugar or other sweetener, as does tonic water. The bitter edge to coffee is something many people prefer to soften with sugar.
                p But looked at from the other direction, the sweet is also balanced by the bitter. Like acid, a touch of bitterness can cut the cloying quality of purely sweet foods. That cola you're drinking? You might not notice it, but it's got a fairly strong bitter kick to it. Even the sweetest milk chocolate contains a bitter undertone, and few sweets are more popular than chocolate.
            .sub.sweet-salty    
                h3 Sweet and Salty
                p Maybe this coupling is not as obvious as sweet and sour or bittersweet, but sweetness and salt do a lot for each other as well. A pinch of salt can add amazing depth to caramel or custard, even though you don't really taste anything salty. Likewise, a tiny bit of sugar in a savory dish can bring together the flavors in a way that salt alone cannot.
                p But the match-up between salt and sugar goes further than merely supporting the other's feature role. While French and Italian cuisines rarely use a noticeable sweet element in savory dishes, this combination is very common in Asian cuisines. British and American cooks make use of it as well, in such dishes as lamb with mint jelly or roasts served with Cumberland sauce. And think about the snacks we eat – salty popcorn and a soda. Honey roasted nuts. Salted nuts in caramel. We enjoy a lot of sweet and salty combinations.
                p Unlike bittersweet or sweet and sour combinations, though, sweet and salty elements seem to balance each other in a different sense. While bitter and sweet (or sour and sweet) combine so thoroughly as to almost be a single new taste, sweet and salty combinations don't really lose their duality. It's as if our taste buds keep themselves entertained by switching back and forth between the two tastes without ever really reconciling them.
            .sub.salty-sour
                h3 Salty and Sour
                p Since salt and acid are both sharp, it's perhaps surprising that combining them would work. But, on reflection, of course it does. Almost everything pickled is packed in a combination of salt and vinegar, and even when salt is the sole ingredient added (as is the case with cabbage to make sauerkraut), acid is a byproduct of the fermentation process. But this combination is not universally liked. I mentioned earlier that supertasters often report that pickled foods taste like ammonia, and I know plenty of people who don't seem to like anything pickled. Me? I could eat a whole jar of pickles or olives standing in front of the refrigerator. (They have to be really good pickles, though.)
                p Many cookbooks will tell you that acid will help an oversalted soup or stew. Research, however, shows that the story is not that simple. The tests aren't very conclusive, but in small amounts, acid seems to enhance salty flavors; in larger amounts, some, not all, acids do seem to diminish the salty flavor. I find that the amount of acid necessary to counteract too much salt in, say, chicken broth, will make the broth overtly sour, which may not be an improvement.
            .sub.salty-bitter
                h3 Salty and Bitter
                p Now, this may not seem like a combination we'd ever strive for, but salt actually helps to cancel the bitterness of foods. A couple of years ago I heard Harold McGee, a food scientist and author, report on an experiment he participated in wherein the subjects added salt to tonic water. They used a salt other than sodium chloride, one that didn't taste "salty," so they didn't have that taste to contend with. McGee said that given enough salt, the tonic water eventually tasted just sweet, not bitter at all.
                p If you add table salt to tonic water, you can start to taste this effect, but it will begin to taste salty before it stops tasting bitter, which can be confusing. If you're interested in another way to test this phenomenon, though, try adding a little extra salt to a salad dressing for bitter greens and see if it doesn't help to temper the bitterness.
            .sub.sour-bitter
                h3 Sour and Bitter
                p Nope, not by themselves. I can't think of a single food or dish that combines only these two elements, or at least not one I'd want to eat. But with a sweet element, it can work. Think of cranberry juice -- not only are cranberries sour, they also have a bitter edge. Add sugar and the juice is surprisingly refreshing. Likewise with grapefruit juice; it may be mostly sweet and sour, but a little bitterness is there too.
            .sub.triads
                h3 Taste Triads
                p The sour-bitter-sweet combination is also common in cocktails. And, if you add a bit of salt, you have the basis for one of the classic cocktails: the margarita. A well made margarita is a good mix (some might say the perfect combination) of all four elements: you have sweetness from the triple sec, sourness from the lime juice, which also has a definite bitter side, and the salt on the rim.
                p I'm getting ahead of myself here. However, it does lead me to the next level -- that is, combining more than two of the basic tastes. As I've just mentioned, we do it occasionally, although we might not realize it. A chocolate lover who eats orange filled truffles is combining sweet, sour and bitter flavors. Sweet pickles are not only sweet and sour; they're also salty. Likewise for some vinaigrettes. Generally speaking, when three of the basic tastes are present, one appears as a mere background note, not as prominent as the other two.
                p Threesomes, you see, are tricky. No, I didn't mean it that way, but now that you mention it, it's not a bad analogy. Even leaving aside the menage à trois types of relationships, friendships among three friends typically require a lot more balancing and effort than do friendships between two people. It's the same with basic taste elements. Adding a third one to a twosome inserts a whole new dynamic; it can be a brilliant success, or a dismal failure.
            .pagin
                .prevpage
                    .next back
                    .title The Four Tastes
                .nextpage
                    .next next
                    .title Other Flavor Categories
        .main#other-flavs
            h2 Other Flavor Categories
            p Now I'm going to venture out past the four basic tastes. We're on much shakier scientific ground here, because researchers don't write about flavor categories the way they do they do about the sense of taste. Chefs and cookbook authors are not much help either. Generally when they mention categories of flavor, they don't offer much in the way of explanation; rather, they assume we know what they're talking about. And even those authors who do explicitly mention flavor categories are not in agreement on what they are. One book lists 14 elements of taste ranging from "bulby" to "spiced aromatic" to "oceanic." Another lists such flavors as "pungent" and "puckery" and other less helpful categories as "intense."
            p I'm not disparaging these authors' efforts, honestly. It's tough going when you try to categorize flavors. Although I've tried to stick with the sorts of terms that show up regularly in cookbooks, reference books and restaurant reviews, my list is somewhat subjective as well.
            p Why group flavors into categories at all? Well, it's because we're all human here (I assume) and that's what humans do -- we categorize things. It's the way we learn about the world. So you probably categorize foods without even really thinking about it. Listing some basic categories and analyzing how our foods fit into them is simply a way to harness that usually unconscious process and improve upon it, enhance it, sharpen it.
            p What follows here is not exhaustive; it's not definitive, but it's a starting point. Keep in mind that not every food falls into one of these categories, and many foods fall into more than one:
            ul
                li Earthy: Think mushrooms. Also carrots and other root vegetables, which often also have a sweet dimension as well.
                li Fermented: Wine and beer obviously fall in here, but also sour cream, yogurt, cheese, buttermilk. Some breads, especially sourdough. Soy sauce and fish sauce are both fermented, but the salty taste partially masks the fermented flavor.
                li Herbal: We'll look at herbs and spices in detail in the second part of the course, but for now just think of the clean, "green" scent and flavor of dill, parsley, basil and the like.
                li Meaty: This term is so often used to describe a texture that it's difficult to isolate it as a flavor alone, but that's what I'm aiming for here. So mushrooms, although they can have a "meaty" texture, do not always or even often have a meaty taste.
                li Nutty: Nuts, obviously, but also some grains and cheeses and even avocados have a hint of nuttiness about them.
                li Poultry: No, everything does not taste like chicken, but most of the birds we eat fall into this category. Apparently, so does a mushroom called chicken of the woods.
                li Seafood: The natural name for this category would be "fishy," but that term has such negative connotations that I hesitate to use it. It's used to describe old fish. But fresh seafood and fish do have a common element in their flavor, and that's what I mean by "seafood." (Freshwater fish, although generally milder, also fit in here.)
                li Spicy: This one's tricky. We often use the term to mean "hot" in the sense of chile peppers or horseradish, but as we'll see in the next section, "hot" is not a flavor, it's a chemosensory irritation. So think about "spicy" as what's left over after you remove any of those sensations: usually somewhat bitter, often musty, and always fragrant.
                li Starchy: This is one of those terms that have elements of both taste and texture. Since there's a whole group of foods we commonly refer to as "starches," it's not hard to identify this taste. It's what's common to potatoes and some other root vegetables, rice and corn, to name a few. We'll talk again about starch when we get to textures.
                li Vegetal: Here I'm thinking mostly of green vegetables, and not of the culinary vegetables that are botanically fruit, such as tomatoes, peppers, and squash. Likewise, I wouldn't include roots and tubers like potatoes and carrots here.
                li Toasted/Roasted: Think about the difference between a slice of bread and a slice of toast, or the difference between raw almonds and roasted ones. Basically we're talking about the flavor effects of browning here.
                li Smoked: Cheese or meats, fish or fowl, these foods get their flavor from the smoke they're cured in. They generally also have a salty side, as the curing process usually involves brine or salt.
            .pagin
                .prevpage
                    .next back
                    .title The Four Tastes in Combination
                .nextpage
                    .next next
                    .title Flavor and Beyond
        .main#flav-beyond
            h2 Flavor and Beyond
            p So, now that we have a starting list of flavor categories, what do we do with it? Along with the information on basic tastes, use it to begin analyzing the foods that you cook and eat. As you taste a dish, ask yourself which basic tastes it has, and which flavor categories it belongs to.
            p "Why?" you may ask, "what's in it for me?" First, if you like to cook, analyzing foods in terms of tastes and flavors (and, as we'll see, textures) can provide you with a lot of knowledge about substituting ingredients and improvising in the kitchen. For instance, suppose I have a recipe that calls for beets and I don't like them. To come up with a workable substitute, it helps a lot to know that beets are sweet, starchy and slightly earthy. What other foods have those attributes? Maybe sweet potatoes. Maybe rutabagas. The point is, I've got a place to start.
            p Second, the better you get at analyzing at tastes and flavors, the better you'll be at figuring out what's in dishes that you like (or those you don't like, for that matter). Maybe this has happened to you: you're at a restaurant eating dinner. That sauce on your prawns is delicious and you'd really like to know what's in it. Let's face it, you're probably not going to get a recipe from the chef, but if you know your flavors, you can do some experimenting and probably be able to come up with at least a close approximation.
            p What's even more amazing is that with enough practice, you may even be able to tell not only what's in a dish, but what's missing from it. Suppose you're trying your hand at cooking something new, and it's blander than you expected, or it just needs something. If you've had practice tasting critically and thoughtfully, your chances of figuring out just what that "something" is are much better than if you haven't. You'll be able to think back to similar dishes that did taste good and isolate what those dishes had that your current dish lacks -- garlic, or lemon juice, or salt, or a pinch of sugar. Spices, perhaps. And believe me, if you can rescue bad tasting food, or make average food good, you've got an enviable skill.
            p So now that you’ve made it through the theory, it's time to practice a little. Take some time to try at least some of the experiments that follow. Start to analyze what you eat and drink. After that, we’ll turn to texture, mouthfeel and chemosensory irritations, but we’re hardly leaving taste and flavor behind. They’ll be coming along for the ride.
            .pagin
                .prevpage
                    .next back
                    .title Other Flavor Categories
                .nextpage
                    .next next
                    .title Experiments
        .main#experiments
            h2 Experiments
            p None of these experiments are very difficult or time consuming; most require only a couple of common ingredients to perform. As you read through them, they may, in fact, strike you as terribly simple and obvious. Indeed, they are simple. But to get the most out of them, they do require two things: thought and concentration. If you're going to perform them, take the time to really think about your sensations as you do. You may want to take notes, if that helps you to concentrate.
            h3 Temperature and Flavor
            p Buy two cans or bottles of any one type of juice drink or soft drink, preferably not something with a lot of carbonation. Leave one at room temperature while you chill the other as cold as you can get it (if it's just starting to get a little slushy around the edges, that's perfect). Taste them both and compare. Does the warmer drink taste sweeter? Can you taste other flavors (good or bad) that seem to be missing in the ice-cold drink?
                .sub.exp-salt
                    h3 Salt
                    p This requires a kitchen scale. Gather as many different kinds of salt as you can: iodized table salt, non-iodized salt, kosher salt and, if you can find it, at least one of the specialty sea salts: Fleur de Sel, or the gray salt from Brittany or something similar (most of them are French).
                    p By weight, measure out equivalent amounts of each. It's crucial to measure by weight and not by volume, because the different grain size and shape in the various salts result in vastly different amounts of salt per unit of volume. You won't need much, so use the smallest measurement you can. Mix each kind of salt with enough hot water to make a 2 or 3% solution.
                    p Let the solutions cool and taste them. It helps to have some unsalted crackers and some water with a little lemon squeezed in it to "cleanse" your palate between tastes. Can you tell the difference? If so, what is the difference?
                    p Now taste the various salts sprinkled on top of tomato slices. What differences do you experience this time?
                .sub.exp-umami
                    h3 Umami
                    p First, run out and buy some monosodium glutamate. The most widely available form of MSG that I know of is Ac'cent; you should be able to find it at any grocery store. (I know, you're thinking, "MSG? Is she serious?" Yes, I do know about everything written concerning MSG. I've read the scary stories. The deal is, it's really difficult for the average consumer to isolate glutamate any other way, and I honestly think a little monosodium glutamate in the diet is not harmful. However, if you're concerned or you think otherwise, by all means skip this experiment.)
                    p Next, dissolve a small amount into a cupful of hot water (hotter than tepid, but cool enough to sip without scalding your tongue). Say, half a teaspoon of Ac'cent to a cup. Sip it and think about it. What's it taste like? What's it feel like on your tongue?
                .sub.exp-sweet-sour
                    h3 Sweet and sour
                    p First, make a simple syrup with sugar and water. In a small saucepan, add one cup water and two cups sugar. Heat to dissolve and bring to a boil. Simmer for a couple of minutes and let cool. Meanwhile, squeeze a couple of lemons.
                    p Mix two tablespoons of syrup with one cup water. Taste the mixture. Now, add one tablespoon lemon juice and taste again. What does the addition of the lemon juice do to the sugar water?
                    p Next, start at the other end. Mix two tablespoons of lemon juice with one cup water, taste, and then add one tablespoon of syrup. (You'll have the opposite proportions, obviously.) What do you think of that mixture?
                    p Try different proportions and think about the balance of sweet and sour. What proportions do you like best?
                .sub.exp-bittersweet
                    h3 Bittersweet
                    p Get as many chocolates of different sweetness levels as you can find. Many chocolates are now labeled by levels of cocoa mass and cocoa butter. For instance, a chocolate labeled "70 percent" contains that amount of cocoa, with the remaining 30% being sugar and other ingredients (milk chocolate will have the lowest percentage of cocoa and will also contain milk solids). Include unsweetened chocolate (sometimes called "baking" chocolate) as well. Starting with the least sweet, taste them and compare. If you start with unsweetened, it will probably be almost unbearably bitter. As you taste, think about the level of sweetness you prefer.
                    p Now, for part two, get some caramels or caramel sauce. Taste the chocolates again, this time with a small bite of caramel accompanying each taste. How does the additional sweetness alter the chocolate? Do you find your previous favorite too sweet with the addition of the caramel?
                .sub.salty-sour
                    h3 Salty and Sour
                    p Scoop out the flesh from a ripe avocado and mash it up. Taste a small bite as a basis for comparison. Divide the remaining avocado into three portions. To the first, add a pinch of salt. To the second, add a squeeze of lemon juice.
                    p Taste the first sample. Now add a squeeze of lemon to the salted avocado. How does it change the flavor? Is the salt more or less pronounced, or is it unaltered?
                    p Taste the second sample (the one with only lemon juice). Add a pinch of salt and taste again. How does the salt affect the acid? Does it make the lemon flavor more pronounced?
                    p Now add enough salt to the third portion to make it taste noticeable salty to you (this could vary quite a bit depending on your tolerance for salt). Add a squeeze of lemon and see if that diminishes the salty flavor.
                .sub.exp-sweet-salty
                    h3 Sweet and Salty
                    p Make a small batch of popcorn. Divide it into three portions. Sprinkle one with salt, one with sugar, and one with a combination of salt and sugar. Taste the three samples and concentrate on the way the salt and sugar affect each other.
                    p Another way to experiment with salt and sugar is add a pinch of sugar to a savory sauce, such as tomato sauce, and see how it changes the flavor. Or add a pinch of salt to a sweet sauce such as caramel or a custard and see if it intensifies the flavor.
                .pagin
                    .prevpage.full-length
                        .next back
                        .title Other Flavor Categories
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="js/effects.js")